body{
    background-color: whitesmoke;
}
footer{
    text-align: center;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: small;
    line-height: 30px;
}
header{
    margin: 10px auto;
}
.container{
    margin-top: 80px;
    background-color: whitesmoke;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: small;
}
.panel{
    border-left: 1px solid #c1c5cc;
    padding: 0 0 5px 0;
    margin: 0 auto 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 2px 1px #c1c5cc;
}
.panel-body{
    border-top: 2px solid #c1c5cc;
    padding: 20px 40px 10px 40px;
    font-size: small;
}
.panel-heading{
    padding: 10px;
    background-color: #CEFBE0;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: medium;
    border-radius: 8px 8px 0 0;
}
.detail_body h4{
    font-size: 14px;
    text-transform: capitalize;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    color: #2E86C1;
}
.table tr td{
    padding: 5px 5px 5px 15px;
}
.image-box{
    border: 1px solid #c1c5cc;
    padding: 15px;
    text-align: center;
}
.panel-body input.form-control {
    font-size: small;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    color: #616A6B;
    height: 30px;
    border-radius: 4px;
}
.panel-body input.form-control::placeholder {
     font-size: small;
     font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
     color: #CCD1D1;
 }
.input-group select.form-control{
    font-size: small;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    color: #707B7C;
    height: 30px;
    border-radius: 4px;
}
.input-group select.form-control::placeholder{
    font-size: small;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    color: #CCD1D1;
}
.input-group-append span.input-group-text{
    padding: 0;
}
.asset_row{
    border-left: 2px solid #c1c5cc;
    border-right: 2px solid #c1c5cc;
}
.help-block{
    color: darkred;
}
.btn-link{
    text-decoration: none;
    color: cornflowerblue;
    font-size: small;
}
.form{
    padding-bottom: auto;
}
.danger{
    font-size: small;
    margin-bottom: 10px;
}
.modal-footer{
    background-color: whitesmoke;
    border-top: 1px solid #c1c5cc;
}
.modal-header{
    background-color: whitesmoke;
    border-top: 1px solid #c1c5cc;
    box-shadow: 0 1px 1px 0 #c1c5cc;
}
.navigation{
    background-color: white;
    color: #707B7C;
    border-bottom: 1px solid #c1c5cc;
    box-shadow: 0 3px 3px 0 #c1c5cc;
    height: 60px;
}
.navbar-brand{
    color: #707B7C;
}
.dropdown a{
    color: #707B7C;
}
.dropdown{
    margin-right: 50px;
}
.dropdown-menu ul li a{
    color: #707B7C;
    text-decoration: none;
}
.dropdown-menu ul li a:hover{
    color: chocolate;
    text-decoration: none;
}
.dropdown-menu ul li{
    border: none;
    padding: 5px 5px 2px 10px;
    font-size: small;
}
.dropdown-menu{
    color: #707B7C;
    border: none;
}
.navbar-collapse{
    margin-right: 10px;
}
.has-error{
    color: #C0392B;
}
.company_name{
    font-size: 14px;
    color: #707B7C;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Noto Sans Georgian';
}









/*aside*/


ul.sidebar-menu , ul.sidebar-menu li ul.sub{

    margin: 2px 0 0;

    padding: 1px;
}
ul.sidebar-menu li.sub-menu{
    line-height: 1px;
}
.sub-menu a{
    padding: 1px;
}
ul.sidebar-menu {

    margin-top: 60px;

    margin-left: 0;

    list-style-type: none;

    padding-right: 0px;
}
#sidebar > ul > li > ul.sub {

    display: none;
}
#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {

    display: block;
    font-size: small;

}
ul.sidebar-menu li ul.sub li{

    background: #394a59;

    margin-bottom: 0;

    margin-left: 0;

    margin-right: 0;

}
ul.sidebar-menu li a{

    color: #707B7C;

    text-decoration: none;

    display: block;

    padding: 3px 0 3px 15px;

    font-size: small;

    line-height: 20px;

    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;

    outline: none;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    transition: all 0.3s ease;
}
ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {

    border-bottom: 0 solid #d0d8df;

    background-color: #ABEBC6;

    color: #707B7C;
}
ul.sidebar-menu li a i {

    font-size: small;

    padding-right: 6px;

    color: #707B7C;
}
.avatar{
    border-radius: 4px;
    padding: 0 auto;
    margin: 0 auto;
}
.aside{
    border-right: 1px solid #c1c5cc;
    height: 600px;
    background-color: red;
    padding: 0;
}
.category-head{
    font-size: 16px;
    text-align: center;
}
@media only screen and (max-width: 800px) {

    .aside{
        display: none;
    }
}
.button-add{
    float: right;
    font-size: small;
    padding: 2px;
}
.register-head{
    font-size: 16px;
    font-family: 'Trocchi', serif;
    text-transform: uppercase;
    text-align: center;
    color: #707B7C;
}
.register-panel{
    margin: 0 auto 20px auto;
    background-color: #EAFAF1;
    padding: 10px;
    border: 1px solid #c1c5cc;

}
.sub-head{
    color: #2980B9;
    margin-bottom: 1px;
    font-family: Raleway, sans-serif;
}












/*sidebar navigation*/



#sidebar {

    width: 228px;

    height: 100%;

    position: fixed;

    background: #3c3f49;

    padding-top: 20px;



}



.nav-collapse.collapse {

    display: inline;

}



ul.sidebar-menu , ul.sidebar-menu li ul.sub{

    margin: 2px 0 0;

    padding: 1px;


}



ul.sidebar-menu {

    margin-top: 60px;


}



#sidebar > ul > li > ul.sub {

    display: none;
}



#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {

    display: block;
    font-size: small;

}



ul.sidebar-menu li ul.sub li{

    background: whitesmoke;

    margin-bottom: 0;

    margin-left: 0;

    margin-right: 0;

}



ul.sidebar-menu li ul.sub li:last-child{

    border-radius: 0 0 4px 4px;

    -webkit-border-radius: 0 0 4px 4px;

}



ul.sidebar-menu li ul.sub li a {

    padding: 0 0 0 32px;

    line-height: 30px;

    height: 30px;

    -webkit-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    transition: all 0.3s ease;

    color: #d0d8df;

    font-size: small;

}



ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {

    color: #fff;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    transition: all 0.3s ease;

    display: block;

}



ul.sidebar-menu li{

    line-height: 15px !important;

    /*margin-bottom: 5px;

    margin-left:10px;

    margin-right:10px;*/



}

/*ul.sidebar-menu li:hover{

    border-bottom: 1px solid #688a7e;

}*/

ul.sidebar-menu li.sub-menu{

    line-height: 10px;


}



ul.sidebar-menu li a span{

    display: inline-block;

}



ul.sidebar-menu li a{

    color: #d0d8df;

    text-decoration: none;

    display: block;

    padding: 8px 0 8px 15px;

    font-size: small;

    line-height: 25px;

    font-weight: 300;

    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;

    outline: none;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    transition: all 0.3s ease;

}
/*ul.sidebar-menu li a i{

    position: relative;

    top: 2px;

}*/

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {

    background: cornflowerblue;

    color: #fff;

    display: block;

    /*border-radius: 4px;

    -webkit-border-radius: 4px;*/

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    transition: all 0.3s ease;

}

ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {

    border-bottom: 0 solid #d0d8df;
    background-color: #e75225;

}

/*ul.sidebar-menu li.active a,*/
ul.sidebar-menu .sub-menu li.active a{

    border-bottom: 1px solid #d0d8df;

}



ul.sidebar-menu li a i {

    font-size: 15px;

    padding-right: 6px;

    /*color: #688a7e;*/

}



ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {

    color: #fff;

}



ul.sidebar-menu li.active a i {

    color: #fff;

}





#sidebar ul > li > a .arrow {

    border-bottom: 4px solid transparent;

    border-left: 4px solid #A0A0A0;

    border-top: 4px solid transparent;

    float: right;

    height: 0;

    margin-right: 10px;

    margin-top: 6px;

    width: 0;

}

#sidebar ul > li > a .menu-arrow {

    float: right;

    margin-right: 8px;

    margin-top: 6px;

}

#sidebar > ul > li > a .arrow.open {

    border-left: 4px solid transparent;

    border-right: 4px solid transparent;

    border-top: 5px solid #A0A0A0;

    float: right;

    height: 0;

    margin-right: 10px;

    margin-top: 8px;

    width: 0;

}



#sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow {

    float: right;

    margin-top: 6px;

    margin-right: 10px;

    width: 0;

    height: 0;

    border-left: 4px solid #d0d8df;

    border-top: 4px solid transparent;

    border-bottom: 4px solid transparent;

}



#sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open {

    float: right;

    margin-top: 8px;

    margin-right: 10px;

    width: 0;

    height: 0;

    border-top: 5px solid #d0d8df;

    border-left: 4px solid transparent;

    border-right: 4px solid transparent;

}

